@model MyStore.Application.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Update Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Product</h2>

<form asp-controller="Products" asp-action="Edit" method="post" enctype="multipart/form-data">
    <span class="text-danger">@ViewData["CustomError"]</span>
    <div class="form-group row">
        <label class="col-md-2 col-sm-6 text-muted" asp-for="Name"></label>

        <div class="col-md-6 col-sm-6">
            <input type="text" class="form-control" asp-for="Name" maxlength="250" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ImageUrl" />


    <div class="form-group row">
        <label asp-for="ImageUrl" class="form-label col-md-2 col-sm-6"></label>
        <div class="col-md-6 col-sm-6 dropzone" id="dropzoneForm">
            <input type="hidden" asp-for="ImageUrl" id="ImageUrl">
        </div>
        <div id="picture-container" class="col-md-4 col-sm-6">
            <img src="@Model.ImageUrl" alt="Product Image" class="img-thumbnail img-fluid" style="width:200px;height:150px; object-fit:contain;  " />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-sm-6 text-muted" asp-for="Price"></label>

        <div class="col-md-6 col-sm-6">
            <input type="text" class="form-control" asp-for="Price" value="@Model.Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-sm-6 text-muted" asp-for="Description"></label>
        <div class="col-md-6 col-sm-6">
            <textarea asp-for="Description" cols="4" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">

        <label class="col-md-2 col-sm-6 text-muted" asp-for="CategoryId"></label>
        <div class="col-md-6 col-sm-6">
            <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "ID", "Name"))">
            </select>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-6 offset-2">
            <button type="submit" class="btn btn-outline-primary mt-4">Update Product</button>
            <a asp-action="Index" class="btn btn-outline-secondary mt-4">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
{

    <partial name="_Validation" />
    <script>

        Dropzone.options.dropzoneForm = {

            autoProceessQueue: false,
            url: "/Admin/Categories/Upload/",
            maxFiles: 1,
            addRemoveLinks: true,
            init: function () {
                this.on("maxfilesexceeded", function (file) {
                    this.removeAllFiles();
                    this.addFile(file);
                });


            },
            success: function (response) {
                var image = response["xhr"]["responseText"];

                var stringimage = JSON.parse(image);
                console.log(stringimage);

                $('#ImageUrl').val(stringimage["link"]);
            }

        };

        //$(document).ready(function () {
        //    $("#ProductPicture").on('change', function () {
        //        var selectedFile = $(this).val().split('\\').pop();
        //        $(this).siblings('label').text(selectedFile);
        //        var picturecontainer = $('#picture-container');
        //        var image = window.URL.createObjectURL(this.files[0]);
        //        picturecontainer.find('img').attr('src', image);
        //    });
        //});
    </script>

}
